------------- app settings -------------
APP_NAME="AI Platform"
APP_DESCRIPTION="Your app description here"
APP_VERSION="0.1"
CONTACT_NAME="Your name"
CONTACT_EMAIL="Your email"
LICENSE_NAME="The license you picked"

------------- database -------------
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="password"
POSTGRES_SERVER="localhost"
POSTGRES_PORT=5432
POSTGRES_DB="postgres"





------------- crypt -------------
Generate this with: openssl rand -hex 32
SECRET_KEY="c6c3c49051adfb984c7198680351c69fd0f7d38e97b06ce8aa7ed0e53432617c"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

------------- admin -------------
ADMIN_NAME="your_name"
ADMIN_EMAIL="your_email"
ADMIN_USERNAME="your_username"
ADMIN_PASSWORD="your_password"

------------- redis cache-------------
REDIS_CACHE_HOST="localhost"
REDIS_CACHE_PORT=6379

------------- redis client-side cache -------------
CLIENT_CACHE_MAX_AGE=30

------------- redis queue -------------
REDIS_QUEUE_HOST="localhost"
REDIS_QUEUE_PORT=6379

------------- first tier -------------
TIER_NAME="free"

------------- redis rate limit -------------
REDIS_RATE_LIMIT_HOST="localhost"
REDIS_RATE_LIMIT_PORT=6379
DEFAULT_RATE_LIMIT_LIMIT=10
DEFAULT_RATE_LIMIT_PERIOD=3600

------------- environment -------------
ENVIRONMENT="local"
OPENAI_API_KEY=""